<h1 class="text-center">TIENDA TODO-COMIDAS</h1>

<h2 class="text-center">Para disfrutar en familia</h2> 

<h1>Listado de Productos</h1>
<ul>
  {{#each productos}}
    <li>{{this.title}} - {{this.description}} - {{this.price}}</li>
<button>comprar</button>
  {{/each}}
</ul>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script  src="/static/js/main.js"></script>