<h1 class="text-center">TIENDA TODO-COMIDAS</h1>

<h2 class="text-center">Para disfrutar en familia</h2> 

<h2>Listado de Productos</h2>

<ul id="lista-productos"> </ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script  src="/static/js/main.js"></script>