<h2>aca se muestran todos los productos en tiempo real</h2>

<div id="contenedorProductos"></div>

<h2>aca el formulario que envia el producto</h2>




<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/js/main.js"></script>